/* colors */
body a:link{ color:#633f59; text-decoration:none;}
body a:visited{ color:#633f59; text-decoration:none;}
body a:active{ color:#633f59; text-decoration:none;}
ul.arrowunderline li:hover { color:#633f59; cursor:pointer; }	
ul.arrowunderline li#selected { /* use CSS generated content to add arrow to the menu */
	color:#633f59; /* style of arrow underline */
	cursor:pointer;
	}
ul.list li .green_txt{
color:#633f59;
}
.heading{
color:#633f59; 
}
.date{
		color:#633f59;
}
.green_bg{	background-color:rgba(99,63,89,0.5);}	
#form input, textarea { color:#633f59; }
.card_circle{background-color:#633f59;}

#portfolio-filter li a:hover { background-color:#633f59; }
#portfolio-filter li a.current { background-color:#633f59;	}

#portfolio-list li:hover h5 { color:#633f59; }

#form input, textarea { color:#633f59; }
#form input[type="text"]:focus, #form textarea:focus { background-color:none; color:#333333; }
#form .submitBtn {
text-shadow:0 0px 0 #000;
color:#FFFFFF;
background-color:#633f59;
}
#form .submitBtn:hover{ background-color:#666666; }
#form .font-11{  color:#633f59; }
#contact .right .details li { color:#e86874; }
#contact .right .twitter ul a { color:#633f59; } 
#contact .right  span a:hover { color:#633f59; text-decoration:none; }
.input-box1 { background-color:#633f59;}
.accordion .tog.button_large span{ color:#633f59;}

.toggle_heading{
	font-size:18px;
	font-weight:500;
	color:#633f59;
	}
 
.green_highlite{background:#633f59;}
blockquote{
color:#633f59;} 

 /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#menu-icon { color:#633f59; }
	#nav li#selected{ color:#633f59; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#633f59; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#633f59; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#633f59; }
	#nav li:hover { color:#633f59; cursor:pointer; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#menu-icon { color:#633f59; }
	#nav li#selected{ color:#633f59; cursor:pointer; border:hidden; }
	#nav ul a:hover { background:none; color:#633f59; }
	#nav a, #nav ul a { font:inherit; background:none; display:inline; padding:0; color:#633f59; border:none; }
	#nav a:hover, 
	#nav ul a:hover { background:none; color:#633f59; }
	#nav li:hover { color:#633f59; cursor:pointer; }
}

/* colors */		
